In [72]:
import pandas as pd
import numpy as np

# Cities

In [79]:
df = pd.read_csv("cities.tsv", sep="\t", header=0, index_col=0)

In [80]:
df["Precipitation"] = {"Phoenix":"0", "Flagstaff":"100",}

In [81]:
df

           Population  Elevation  Latitude  Longitude Precipitation
City
Phoenix       1633000       1086   33.4484  -112.0740             0
Flagstaff       74402       6909   35.1983  -111.6513           100
St. Louis      308174        466   38.6270   -90.1994           NaN
Tulsa          402324        722   36.1540   -95.9928           NaN

In [18]:
type(df["Population"]["Flagstaff"])

numpy.int64

In [21]:
type(df.loc["Flagstaff"]["Population"])

numpy.float64

In [36]:
df["City"]

KeyError: 'City'

# Demo data

In [56]:
df = pd.read_csv("demoData.tsv", sep="\t", header=0, index_col=0)

In [44]:
# Number of rows
print(len(df))

#Number of columns
print(len(df.columns))

#Rows, columns
print(df.shape)

# Number of items
print(df.size)

58
72
(58, 72)
4176

In [34]:
df.head(10)

,BB001_A,BB001_B,BB003_A,BB003_B,BB004_A,BB004_B,BB005_A,BB005_B,BB006_A,BB006_B,...,BufferOnly_A,BufferOnly_B,BufferOnly_C,BufferOnly_D,BufferOnly_E,BufferOnly_F,BufferOnly_G,BufferOnly_H,BufferOnly_I,BufferOnly_J
Probe,,,,,,,,,,,,,,,,,,,,,
NS30_000000,8828,628,15628,7371,5663,2463,5244,6377,19985,19310,...,73,23,49,17,109,75,54,44,195,498
NS30_000001,120,24,0,0,10,2,3,3,1,1,...,2,0,4,1,2,3,1,3,11,25
NS30_000002,137,36,2029,886,861,340,2559,2861,2068,2195,...,400,74,377,162,684,701,635,602,1071,1359
NS30_000003,3,0,0,0,5,2,3,2,5,2,...,2,0,0,0,4,6,5,6,10,17
NS30_000004,8,10,571,380,136,35,2028,2762,19,10,...,64,14,74,37,126,100,111,103,130,239
NS30_000005,90,49,569,250,19,3,85,79,59,88,...,42,19,76,32,114,122,186,101,404,177
NS30_000006,270,123,3181,1872,252,48,246,265,111,84,...,305,74,321,166,469,462,483,713,793,896
NS30_000007,213,11,37,23,179,50,53,72,5,9,...,63,10,80,32,109,109,114,133,183,258
NS30_000008,1449,233,586,215,400,104,153,164,79,53,...,120,60,159,76,217,216,207,325,430,529
NS30_000009,65,17,75,40,55,21,112,108,38,45,...,196,46,146,94,329,415,484,370,900,1015

In [47]:
newLabels = ["CodeName", "BB001_A", "BB001_B", "BB003_A", "BB003_B", "BB004_A", "BB004_B", "BB005_A", "BB005_B", "BB006_A", "BB006_B", "BB007_A", "BB007_B", "BB008_A", "BB008_B", "BB009_A", "BB009_B", "BB010_A", "BB010_B", "BB012_A", "BB012_B", "BB013_A", "BB013_B", "BB015_A", "BB015_B", "BB017_A", "BB017_B", "BB018_A", "BB018_B", "BB019_A", "BB019_B", "BB020_A", "BB020_B", "BB401_A", "BB401_B", "BB402_A", "BB402_B", "BB403_A", "BB403_B", "BB404_A", "BB404_B", "BB405_A", "BB405_B", "BB406_A", "BB406_B", "BB407_A", "BB407_B", "BB408_A", "BB408_B", "BB409_A", "BB409_B", "BB410_A", "BB410_B", "BB411_A", "BB411_B", "BB412_A", "BB412_B", "BB413_A", "BB413_B", "BB414_A", "BB414_B", "BB415_A", "BB415_B", "Neg_A", "Neg_B", "Neg_C", "Neg_D", "Neg_E", "Neg_F", "Neg_G", "Neg_H", "Neg_I", "Neg_J"]
df = pd.read_csv("demoData.tsv", sep="\t", header=0, index_col=0, names=newLabels)

In [48]:
df.head()

,BB001_A,BB001_B,BB003_A,BB003_B,BB004_A,BB004_B,BB005_A,BB005_B,BB006_A,BB006_B,...,Neg_A,Neg_B,Neg_C,Neg_D,Neg_E,Neg_F,Neg_G,Neg_H,Neg_I,Neg_J
CodeName,,,,,,,,,,,,,,,,,,,,,
NS30_000000,8828,628,15628,7371,5663,2463,5244,6377,19985,19310,...,73,23,49,17,109,75,54,44,195,498
NS30_000001,120,24,0,0,10,2,3,3,1,1,...,2,0,4,1,2,3,1,3,11,25
NS30_000002,137,36,2029,886,861,340,2559,2861,2068,2195,...,400,74,377,162,684,701,635,602,1071,1359
NS30_000003,3,0,0,0,5,2,3,2,5,2,...,2,0,0,0,4,6,5,6,10,17
NS30_000004,8,10,571,380,136,35,2028,2762,19,10,...,64,14,74,37,126,100,111,103,130,239

In [59]:
negDF = pd.DataFrame()
for col in df.columns:
#    print(col)
    if col.startswith("Buffer"):
#        print("Yes!")
        negDF[col] = df[col]

In [58]:
negDF.shape

(58, 10)

In [63]:
colSums = df.sum(axis=0)
rowSums = df.sum(axis=1)

In [73]:
np.average([df["BB001_A"],df["BB001_B"]])

507.19827586206895

In [74]:
sum((df["BB001_A"]+df["BB001_B"])/2)/58

507.19827586206895